.introduction {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  max-width: 30em;


  a {
    color: rgba(map-get($colors, 'primary'), 1.0);

    &:hover {
      text-decoration: none;
    }
  }
}
