.like-wrapper {
  display: flex;
  width: fit-content;
  height: 17px;

  button {
    width: 18px;
    height: 16px;
    margin-top: -1px;

    &:nth-last-child(2) {
      margin-left: 15px;
    }
  }

  .typography-helper {
    padding: 0 8px;
    cursor: default;

    &.active {
      text-decoration: underline;
    }
  }
}
