.input-field-radio {
  background: map-get($colors, 'brand-white' );
  
  &.input-field-disabled,
  .input-label.isDisabled {
    .typography {
      color: map-get($colors, 'gray3');
    }

    input[type=radio] {
      border: rem(1px) solid map-get($colors, 'gray2');
    }
  }
  .indicator {
    align-self: flex-start;
    margin-top: rem(3px);
    min-width: rem(18px);
  }
}

.input-field-radio-card {
  padding: rem(12px);
  margin: rem(16px) auto;
  border-radius: rem(7px);

  // this will make the whole card clickable and toggle the radio button
  input[type=radio] {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 1;
    border: rem(1px) solid map-get($colors, 'gray3');

    &:hover {
      border: rem(1px) solid map-get($colors, 'primary');
    }

    &:checked {
      border: rem(2px) solid map-get($colors, 'primary');
    }
  }

  .indicator {
    align-self: flex-start;
    margin-top: rem(3px);

    &:after {
      top: initial;
      left: initial;
    }
  }

  > div {
    width: 90%;

    label.input-label {
      display: block;
    }
  }

  .helper-text {
    margin-top: 0;
    line-height: 1.125;
  }

  &.input-field-disabled {
    .typography {
      color: map-get($colors, 'disabled');
    }

    input[type=radio] {
      border: rem(1px) solid map-get($colors, 'disabled');
    }
  }
}

.input-field-radio-blank {
  padding: rem(16px);

  input[type=radio] {
    border: 0;
    box-shadow: $shadow-1;

    &:hover {
      border: 0;
      box-shadow: $shadow-2;
    }

    &:checked {
      border: 0;
      box-shadow: inset $shadow-0;
    }

    &:focus {
      outline: rem(1px) dotted #212121;
      outline: rem(1px) auto -webkit-focus-ring-color;
    }
  }

  .radio-button-labels {
    @extend %screen-reader-text;
  }
}
