.segmented-control-holder {
  display: inline-block;
  border-radius: rem(6px);
  height: $space-48;
  background: map-get($colors, 'gray1');
  margin: 0;
  padding: 0;
  position: relative;

  .input-fieldset fieldset {
    padding: 0;
  }

  &:before {
    background: map-get($colors, 'brand-white');
    box-shadow: $shadow-0;
    border-radius: rem(6px);
    height: rem(42px);
    width: rem(53px);
    content: '';
    position: absolute;
    z-index: 0;
    top: rem(3px);
    left: $space-4;
    transition: left $timing-0;
  }

  &.selected-1:before{
    left: rem(65px);
  }

  &.selected-2:before{
    left: rem(125px);
  }

  &.selected-3:before{
    left: rem(186px);
  }
}

.segmented-control {
  display: table;
  background: transparent;
  margin: 0;
  padding: 0;
}

.segmented-control-item {
  display: table-cell;
  margin: 0;
  padding: rem(6px) $space-4 0 $space-4;
  list-style-type: none;
  height: rem(42px);
  width: rem(53px);
  position: relative;

  .input-field[type="radio"] {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.segmented-control-label {
  display: block;
  text-align: center;
  cursor: pointer;
  margin: 0;
  padding: 0 0;
  border-radius: rem(6px);
  height: rem(42px);
  width: rem(53px);
  position: relative;

  span {
    min-height: rem(34px);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: map-get($colors, 'primary');
  }
}
