.logo-wrapper {
  width: min-content;
  min-width: fit-content;
  position: relative;
  max-height: 100%;

  .logo, .logo_horiz {
    max-width: 100%!important;
    max-height: 100%!important;
    width: auto;
  }

  a {
    text-decoration: none;
    height: 4rem;
  }

  .tagline-wrapper {
    text-align: right;
    text-decoration: none;
    margin-top: -$space-16;

  }
}


// Animations

 @-webkit-keyframes animate-svg-fill-1 {
    0% {
      fill: transparent;
    }

    100% {
      fill: rgb(0, 173, 187);
    }
  }

  @keyframes animate-svg-fill-1 {
    0% {
      fill: transparent;
    }

    100% {
      fill: rgb(0, 173, 187);
    }
  }

  .logo-animated .svg-elem-1 {
    -webkit-animation: animate-svg-fill-1 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.4s both;
            animation: animate-svg-fill-1 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.4s both;
  }

  @-webkit-keyframes animate-svg-fill-2 {
    0% {
      fill: transparent;
    }

    100% {
      fill: rgb(0, 173, 187);
    }
  }

  @keyframes animate-svg-fill-2 {
    0% {
      fill: transparent;
    }

    100% {
      fill: rgb(0, 173, 187);
    }
  }

  .logo-animated .svg-elem-2 {
    -webkit-animation: animate-svg-fill-2 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s both;
            animation: animate-svg-fill-2 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s both;
  }

  @-webkit-keyframes animate-svg-fill-3 {
    0% {
      fill: transparent;
    }

    100% {
      fill: rgb(0, 173, 187);
    }
  }

  @keyframes animate-svg-fill-3 {
    0% {
      fill: transparent;
    }

    100% {
      fill: rgb(0, 173, 187);
    }
  }

  .logo-animated .svg-elem-3 {
    -webkit-animation: animate-svg-fill-3 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.6000000000000001s both;
            animation: animate-svg-fill-3 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.6000000000000001s both;
  }

  @-webkit-keyframes animate-svg-fill-4 {
    0% {
      fill: transparent;
    }

    100% {
      fill: rgb(255, 164, 0);
    }
  }

  @keyframes animate-svg-fill-4 {
    0% {
      fill: transparent;
    }

    100% {
      fill: rgb(255, 164, 0);
    }
  }

  .logo-animated .svg-elem-4 {
    -webkit-animation: animate-svg-fill-4 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.7000000000000001s both;
            animation: animate-svg-fill-4 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.7000000000000001s both;
  }

  @-webkit-keyframes animate-svg-fill-5 {
    0% {
      fill: transparent;
    }

    100% {
      fill: rgb(255, 164, 0);
    }
  }

  @keyframes animate-svg-fill-5 {
    0% {
      fill: transparent;
    }

    100% {
      fill: rgb(255, 164, 0);
    }
  }

  .logo-animated .svg-elem-5 {
    -webkit-animation: animate-svg-fill-5 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.8s both;
            animation: animate-svg-fill-5 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.8s both;
  }

  @-webkit-keyframes animate-svg-fill-6 {
    0% {
      fill: transparent;
    }

    100% {
      fill: rgb(255, 164, 0);
    }
  }

  @keyframes animate-svg-fill-6 {
    0% {
      fill: transparent;
    }

    100% {
      fill: rgb(255, 164, 0);
    }
  }

  .logo-animated .svg-elem-6 {
    -webkit-animation: animate-svg-fill-6 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.9s both;
            animation: animate-svg-fill-6 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.9s both;
  }

  @-webkit-keyframes animate-svg-fill-7 {
    0% {
      fill: transparent;
    }

    100% {
      fill: rgb(255, 164, 0);
    }
  }

  @keyframes animate-svg-fill-7 {
    0% {
      fill: transparent;
    }

    100% {
      fill: rgb(255, 164, 0);
    }
  }

  .logo-animated .svg-elem-7 {
    -webkit-animation: animate-svg-fill-7 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1s both;
            animation: animate-svg-fill-7 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1s both;
  }

  @-webkit-keyframes animate-svg-fill-8 {
    0% {
      fill: transparent;
    }

    100% {
      fill: rgb(0, 173, 187);
    }
  }

  @keyframes animate-svg-fill-8 {
    0% {
      fill: transparent;
    }

    100% {
      fill: rgb(0, 173, 187);
    }
  }

  .logo-animated .svg-elem-8 {
    -webkit-animation: animate-svg-fill-8 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1.1s both;
            animation: animate-svg-fill-8 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1.1s both;
  }

  @-webkit-keyframes animate-svg-fill-9 {
    0% {
      fill: transparent;
    }

    100% {
      fill: rgb(255, 164, 0);
    }
  }

  @keyframes animate-svg-fill-9 {
    0% {
      fill: transparent;
    }

    100% {
      fill: rgb(255, 164, 0);
    }
  }

  .logo-animated .svg-elem-9 {
    -webkit-animation: animate-svg-fill-9 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1.2000000000000002s both;
            animation: animate-svg-fill-9 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1.2000000000000002s both;
  }
