.wave-inlinesvg {
  width: 100%;
  height: auto;
  display: block;

  // Colors
  @each $name, $color in $colors {
    &.color-top-#{$name} {
      background-color: $color;
    }
    &.color-bottom-#{$name} path {
      fill: $color;
    }
  }

  // Geometry
  &.reverse-direction {
    transform: scale(-1,1);
  }
}
