// ---------------------------------------------------------
// Shadows used for zIndex
// ---------------------------------------------------------
$shadow-0: 0 rem(2px) rem(4px) 0 rgba(black, 0.24);
$shadow-1: 0 rem(2px) rem(8px) 0 rgba(black, 0.12);
$shadow-2: 0 rem(4px) rem(8px) 0 rgba(black, 0.16);
$shadow-3: 0 rem(10px) rem(10px) 0 rgba(black, 0.18);
