// ---------------------------------------------------------
// Transitions Timing
// ---------------------------------------------------------
// work with design team to figure out what are timings
// need to be for baseline transitions as well as more
// advanced uses
// ---------------------------------------------------------

$timing-0: 0.24s ease-in-out 0s;
$timing-1: 0.48s ease-in-out 0s;
$timing-2: 0.72s ease-in-out 0s;
