// ---------------------------------------------------------
// Typography variations
// ---------------------------------------------------------
// Defined fonts for Beam (sans-serif) and IMB Plex (serif)
// ---------------------------------------------------------

// Baloo-2
$baloo: 'Baloo-2';
$gtAmerican: 'GT America';

// beam
$beam-vf: 'BeamNewHMK-VF';
$beam-170: 'BeamNewHMK-170';
$beam-114: 'BeamNewHMK-114';
$beam-84: 'BeamNewHMK-84';

// simple defefinition
$sans-serif: $gtAmerican;
$serif: $baloo;
