// ---------------------------------------------------------
// Typography variations
// ---------------------------------------------------------
// Defined fonts for Beam (sans-serif) and IMB Plex (serif)
// ---------------------------------------------------------

// Baloo 2
$baloo: 'Baloo 2';
$gtAmerican: 'GT America';

// beam
$beam-vf: 'GT America';
$beam-170: 'GT America';
$beam-114: 'GT America';
$beam-84: 'GT America';

// simple defefinition
$sans-serif: $gtAmerican;
$serif: $baloo;

