/* Variable Font */
@font-face {
  font-family: "BeamNewHMK-VF";
  src: url("./ttf/Beam-New-VF-HMK.ttf") format("truetype");
}

/* Font with weight 170/200 */
@font-face {
  font-family: "BeamNewHMK-170";
  src: url("./CustomWeights/BeamNewHMK-Bold.ttf") format("truetype");
  src: url("./CustomWeights/BeamNewHMK-Bold.woff") format("woff");
  src: url("./CustomWeights/BeamNewHMK-Bold.woff2") format("woff2");
}

/* Font with weight 114/200 */
@font-face {
  font-family: "BeamNewHMK-114";
  src: url("./CustomWeights/BeamNewHMK-ExtraMedium.ttf") format("truetype");
  src: url("./CustomWeights/BeamNewHMK-ExtraMedium.woff") format("woff");
  src: url("./CustomWeights/BeamNewHMK-ExtraMedium.woff2") format("woff2");
}

/* Font with weight 84/200 */
@font-face {
  font-family: "BeamNewHMK-84";
  src: url("./CustomWeights/BeamNewHMK-SemiMedium.ttf") format("truetype");
  src: url("./CustomWeights/BeamNewHMK-SemiMedium.woff") format("woff");
  src: url("./CustomWeights/BeamNewHMK-SemiMedium.woff2") format("woff2");
}
